.err {
  padding: 1em 1em 1em 3em;
  border-radius: 2em;
  background-color: rgb(200, 155, 155);
  color: #222;
}

.res {
  padding: 1em 1em 1em 1.5em;
  border-radius: 2em;
  background-color: rgb(155, 200, 155);
  color: #222;
}