.messages{
	max-width: 500px;
	text-align: center;
	margin: auto;
	border-radius: 0.2em;
	padding: 0.5em;
	font-style: bold;
}

.error{
	max-width: 500px;
	text-align: center;
	margin: auto;
	background-color: #faa;
}

.info{
	max-width: 500px;
	text-align: center;
	margin: auto;
	background-color: #afa;
}

.bottom-margin{
	margin-bottom: 1em;
}

.top-margin{
	margin-top: 1em;
}
